h1 {
    font-family: Fugue-Regular;
    padding-left: 60px;
}

.bar {
    transition: height 0.3s;
}

.bar:hover {
    opacity: 0.8;
}

.label {
    font-size: 12px;
    text-anchor: middle;
    font-family: Fugue-Regular;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
    font-family: Fugue-Regular;
}

#tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    display: none;
    pointer-events: none;
    font-family: Fugue-Regular;
}
